<div class='users-container'>

<h1>List all Users</h1>

<div>
<% @users.each do |user| %>
    <div class= 'users-info'>
    <img src='<%= user.photo %>' alt = 'images' class= 'img' >
    
    <div class= user-list>
      <h2>
       <%= link_to user.name, user %>
      </h2>
     <p class= 'postscounter'>Number of Posts = <%=user.postsCounter %></p>
    </div>

    </div>
<% end %>
</div>
</div>
