* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(180, 180, 176);
}

h1 {
  color: blue;
}

.users-container,
.comment-index,
.post-index,
.devise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.users-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.user-list {
  margin-left: 10px;
}

.postscounter {
  margin-left: 80px;
  margin-top: 10px;
}

.user {
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.bio {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-posts {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-comments-likes {
  margin-left: 150px;
  margin-top: 5px;
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
}

.btn {
  font-size: 30px;
  border-color: black;
}

.devise-edit,
.devise-new {
  padding: 10px;
  margin-left: 120px;
  font-size: 22px;
}

.field {
  margin-top: 10px;
  font-size: 22px;
}

.actions {
  font-size: 25px;
}
